.chat-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #3b5998;
}

.header {
  background-color: #3b5998;
  color: white;
  width: 100%;
  text-align: center;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  display: inline;
  align-items: flex-end;
  margin-bottom: 10px;
}


.user {
  font-weight: lighter;
  font-size: 2vh;
  margin-right: 6px;
  color: #00000063;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.new-message-form {
  display: flex;
  width: 100%;
  padding: 10px;
}

.new-message-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.columm {
  flex-direction: column;
  text-align: right;
  margin-bottom: 10px;
}

.container {
  overflow-y: scroll;
  height: 70vh;
  width: 100vh;
}

.message-1 {
  display: inline;
  font-size: 20px;
  border-radius: 80px;
  border-color: #0084ff;
  border-width: 2px;
  border: 1px solid rgba(0, 132, 255, 1);
  color: #ffffff;
  background-color: rgba(0, 132, 255, 1);
  margin-top: 6px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.messenger-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #0084ff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messenger-button:hover {
  background-color: #0065c2;
}

.messenger-input {
  display: inline-flex;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  background-color: #f5f6f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.messenger-input:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.right-aligned-text {
  text-align: right;
}